body{
    background-color: rgb(5, 13, 90);
   
}



header{
    display: inline-flex;
    color: rgb(2, 2, 65);
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin-top: 0px;
    justify-content: space-between;
    font-size: x-large;
    position: absolute;
    top: 0px;
    height: 40px;
    font-weight: 300;
    opacity: 0.8;
    left: 0px;
}

img{
    height: 40px;
    left: 30px;
    position: absolute;
}


ul{
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    margin: auto;
    width: 35vh;
    right:130px;
    position: absolute;
    top: 8px;
}

li{
    margin: auto;
}

button{
    color: rgb(0, 0, 0);
    background-color: rgb(250, 7, 7);
    position: relative;
    border-radius: 10px;
    width: 110px;
    border-color: rgb(255, 251, 251);
}
.button{
    color: black;
    font-size: x-large;
}
a{
    text-decoration: none;
}