body{
    background-color: rgb(6, 56, 6);
}

header{
    display: inline-flex;
    background-color: rgb(6, 131, 6);
    width: 100%;
    justify-content: space-around;
    position: absolute;
    top: 0px;
    height: 35px;

}
img{
    height: 30px;
    position: relative;
    padding: 15px;
    bottom: 10px;
}

ol{
    color: aliceblue;
    position: relative;
    list-style:georgian;

}
 .middle{
      justify-content: space-between;
      display: inline-flex;
      width: 350px;
      bottom: 9px;
 }

 .last{
    width: 160px;
    bottom: 9px;
 }
  
a{
    color: antiquewhite;
    text-decoration: none;
    font-weight:bold;
    font-family: sans-serif;
}
